[mysqld]
bind-address    = 0.0.0.0 # Allow client binding from any IP address instead of just 127.0.0.1
port            = 3306
sql_mode        = NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION # This is strict mode: NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
socket          = /usr/bin/mariadb/install/tmp/mariadb.sock
user            = root
basedir         = /usr/bin/mariadb/install
datadir         = /usr/bin/mariadb/install/data
log-error       = /usr/bin/mariadb/install/logs/mariadb.error.log
general_log     = 1
general-log-file     = /usr/bin/mariadb/install/logs/mariadb.log
slow-query-log-file  = /usr/bin/mariadb/install/logs/mariadb.slow.queries.log
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
wait_timeout            = 28800 # amount of seconds during inactivity that MySQL will wait before it will close a connection on a non-interactive connection
interactive_timeout     = 28800 # same, but for interactive sessions
max_allowed_packet = 128M
net_write_timeout = 180
[client]
socket          = /home/stephane/programs/install/mariadb/tmp/mariadb.sock
default-character-set = utf8mb4
[mysql]
default-character-set = utf8mb4
[mysqladmin]
socket          = /home/stephane/programs/install/mariadb/tmp/mariadb.sock
